@use "../../styles/utilities.scss" as *;

$checkbox-animation-duration: $animation-duration-normal !default;
$checkbox-background-color: $form-control-background-color !default;
$checkbox-border: $form-control-border !default;
$checkbox-border-radius: $form-control-border-radius !default;
$checkbox-height: $form-control-height !default;
$checkbox-size: 1.4em !default;
$checkbox-padding: calc(calc($checkbox-height - $checkbox-size) / 2) !default;
$checkbox-disabled-opacity: $form-control-disabled-opacity !default;

$checkbox-label-color: $form-control-label-color !default;
$checkbox-label-font-size: $form-control-label-font-size !default;
$checkbox-label-font-weight: $form-control-label-font-weight !default;
$checkbox-label-spacing: $form-control-padding !default;

$checkbox-hover-background-color: $form-control-hover-background-color !default;
$checkbox-hover-border: $form-control-hover-border !default;
$checkbox-hover-label-color: $form-control-hover-label-color !default;

$checkbox-focus-background-color: $form-control-focus-background-color !default;
$checkbox-focus-border: $form-control-focus-border !default;
$checkbox-focus-label-color: $form-control-focus-label-color !default;

$checkbox-checked-background-color: $form-control-filled-background-color !default;
$checkbox-checked-border: $form-control-filled-border !default;
$checkbox-checked-label-color: $form-control-filled-label-color !default;
$checkbox-checked-check-color: $form-control-filled-color !default;

$checkbox-checked-hover-background-color: $form-control-filled-hover-background-color !default;
$checkbox-checked-hover-border: $form-control-filled-hover-border !default;
$checkbox-checked-hover-label-color: $form-control-filled-hover-label-color !default;
$checkbox-checked-hover-check-color: $form-control-filled-hover-color !default;

$checkbox-checked-focus-background-color: $form-control-filled-focus-background-color !default;
$checkbox-checked-focus-border: $form-control-filled-focus-border !default;
$checkbox-checked-focus-label-color: $form-control-filled-focus-label-color !default;
$checkbox-checked-focus-check-color: $form-control-filled-focus-color !default;

$checkbox-error-background-color: $form-control-error-background-color !default;
$checkbox-error-border: $form-control-error-border !default;
$checkbox-error-label-color: $form-control-error-label-color !default;
$checkbox-error-check-color: color("grey", "100") !default;

$checkbox-error-checked-background-color: $form-control-filled-error-background-color !default;
$checkbox-error-checked-border: $form-control-filled-error-border !default;
$checkbox-error-checked-label-color: $form-control-filled-error-label-color !default;
$checkbox-error-checked-check-color: color("grey", "100") !default;

$checkbox-error-text-color: $form-control-error-text-color !default;
$checkbox-error-font-size: $form-control-error-font-size !default;
$checkbox-error-spacing: spacing("xs") !default;

.p-checkbox {
  user-select: none;

  & > .input {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding: $checkbox-padding 0;

    & > .label {
      color: $checkbox-label-color;
      cursor: inherit;
      display: block;
      font-size: $checkbox-label-font-size;
      font-weight: $checkbox-label-font-weight;
      margin-left: $checkbox-label-spacing;
    }

    & > .checkbox {
      align-items: center;
      background-color: $checkbox-background-color;
      border: $checkbox-border;
      border-radius: $checkbox-border-radius;
      display: flex;
      height: $checkbox-size;
      justify-content: center;
      transition: all $checkbox-animation-duration ease-in-out;
      width: $checkbox-size;

      & > .check {
        color: $checkbox-checked-check-color;
        transform: scale(0);
        transition: all $checkbox-animation-duration ease-in-out;
        opacity: 0;
      }
    }

    &:hover {
      & > .checkbox {
        background-color: $checkbox-hover-background-color;
        border: $checkbox-hover-border;
      }

      & > .label {
        color: $checkbox-hover-label-color;
      }
    }

    &:focus-within {
      & > .checkbox {
        background-color: $checkbox-focus-background-color;
        border: $checkbox-focus-border;
      }

      & > .label {
        color: $checkbox-focus-label-color;
      }
    }

    &.error {
      & > .checkbox {
        background-color: $checkbox-error-background-color;
        border: $checkbox-error-border;
        color: $checkbox-checked-focus-check-color;
      }

      & > .label {
        color: $checkbox-error-label-color;
      }
    }

    &.checked {
      & > .checkbox {
        background-color: $checkbox-checked-background-color;
        border: $checkbox-checked-border;
        color: $checkbox-checked-check-color;

        & > .check {
          transform: scale(1);
          opacity: 1;
        }
      }

      & > .label {
        color: $checkbox-checked-label-color;
      }
    }

    &.checked:hover {
      & > .checkbox {
        background-color: $checkbox-checked-hover-background-color;
        border: $checkbox-checked-hover-border;
        color: $checkbox-checked-hover-check-color;
      }

      & > .label {
        color: $checkbox-checked-hover-label-color;
      }
    }

    &.checked:focus-within {
      & > .checkbox {
        background-color: $checkbox-checked-focus-background-color;
        border: $checkbox-checked-focus-border;
        color: $checkbox-checked-focus-check-color;
      }

      & > .label {
        color: $checkbox-checked-focus-label-color;
      }
    }

    &.checked.error {
      & > .checkbox {
        background-color: $checkbox-error-checked-background-color;
        border: $checkbox-error-checked-border;
        color: $checkbox-error-checked-check-color;
      }

      & > .label {
        color: $checkbox-error-checked-label-color;
      }
    }

    &.disabled {
      pointer-events: none;

      & > .checkbox {
        opacity: $checkbox-disabled-opacity;
      }
    }
  }

  & > .error-text {
    color: $checkbox-error-text-color;
    display: block;
    font-size: $checkbox-error-font-size;
    margin-top: $checkbox-error-spacing;
  }

  & > .label-fill {
    display: none;
  }

  &.offset {
    & > .label-fill {
      display: block;
      font-size: $form-control-label-font-size;
      margin-bottom: $form-control-label-margin-bottom;

      &::before {
        content: " ";
      }
    }
  }
}
