@use "../../styles/utilities.scss" as *;

$checkbox-background-color: $form-control-background-color !default;
$checkbox-border: $form-control-border !default;
$checkbox-border-radius: $form-control-border-radius !default;
$checkbox-height: $form-control-height !default;
$checkbox-label-color: $form-control-label-color !default;
$checkbox-label-font-size: $form-control-label-font-size !default;
$checkbox-label-font-weight: $form-control-label-font-weight !default;
$checkbox-label-margin-left: $form-control-padding !default;
$checkbox-size: 1.5em !default;
$checkbox-transition: all $animation-duration-normal ease-in-out !default;
$checkbox-disabled-opacity: $form-control-disabled-opacity !default;
$checkbox-check-color: $color-grey-100 !default;
$checkbox-check-size: 0.2em !default;

$checkbox-active-background-color: $form-control-active-background-color !default;
$checkbox-active-border: $form-control-active-border !default;
$checkbox-active-label-color: $form-control-active-label-color !default;

$checkbox-checked-background-color: $color-primary-500 !default;
$checkbox-checked-border: $form-control-active-border !default;
$checkbox-checked-label-color: $form-control-active-label-color !default;

$checkbox-hover-background-color: $form-control-hover-background-color !default;
$checkbox-hover-border: $form-control-hover-border !default;
$checkbox-hover-label-color: $form-control-hover-label-color !default;

.p-checkbox {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: $checkbox-height;
  width: 100%;

  & > .label {
    color: $checkbox-label-color;
    display: block;
    font-size: $checkbox-label-font-size;
    font-weight: $checkbox-label-font-weight;
    margin-left: $checkbox-label-margin-left;
    transition: $checkbox-transition;
    user-select: none;
  }

  & > .box {
    background-color: $checkbox-background-color;
    border: $checkbox-border;
    border-radius: $checkbox-border-radius;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $checkbox-size;
    transition: $checkbox-transition;
    outline: none;
    width: $checkbox-size;

    &:hover:not(.disabled):not(:focus-within):not(.checked) {
      border: $checkbox-hover-border;
      background-color: $checkbox-hover-background-color;

      & + .label {
        color: $checkbox-hover-label-color;
      }
    }

    &:focus-within:not(.disabled):not(.checked) {
      border: $checkbox-active-border;
      background-color: $checkbox-active-background-color;

      & + .label {
        color: $checkbox-active-label-color;
      }
    }

    &.disabled {
      opacity: $checkbox-disabled-opacity;
    }

    &.checked {
      border: $checkbox-checked-border;
      background-color: $checkbox-checked-background-color;

      & > .check {
        border: $checkbox-check-size solid $checkbox-check-color;
        border-right-width: 0;
        border-top-width: 0;
        height: calc($checkbox-size / 4.5);
        width: calc($checkbox-size / 2.5);
        transform: translateY(calc($checkbox-check-size / -3)) rotateZ(-50deg);
      }
    }
  }
}
