@use "../../styles/utilities.scss" as *;

$spinner-animation-duration: $animation-duration-slow !default;
$spinner-color: currentColor !default;
$spinner-size-sm: 1rem !default;
$spinner-size-md: 2rem !default;
$spinner-size-lg: 3rem !default;
$spinner-thickness-sm: 0.2rem !default;
$spinner-thickness-md: 0.3rem !default;
$spinner-thickness-lg: 0.4rem !default;

.p-spinner {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  & > .wheel {
    animation: p-spinner-spin $spinner-animation-duration linear infinite;
    border-color: transparent;
    border-radius: 50%;
    border-style: solid;
    border-top-color: $spinner-color;
    box-sizing: border-box;
  }

  &,
  &.sm {
    .wheel {
      border-width: $spinner-thickness-sm;
      height: $spinner-size-sm;
      width: $spinner-size-sm;
    }
  }

  &.md {
    .wheel {
      border-width: $spinner-thickness-md;
      height: $spinner-size-md;
      width: $spinner-size-md;
    }
  }

  &.lg {
    .wheel {
      border-width: $spinner-thickness-lg;
      height: $spinner-size-lg;
      width: $spinner-size-lg;
    }
  }

  &.darken {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    border-radius: inherit;
  }

  &.lighten {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(2px);
    border-radius: inherit;
  }
}

@keyframes p-spinner-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
