@use "../../styles/utilities.scss" as *;

$textarea-background-color: $form-control-background-color !default;
$textarea-border: $form-control-border !default;
$textarea-border-radius: $form-control-border-radius !default;
$textarea-color: $form-control-color !default;
$textarea-font-size: $form-control-font-size !default;
$textarea-font-weight: $form-control-font-weight !default;
$textarea-height: $form-control-height !default;
$textarea-label-color: $form-control-label-color !default;
$textarea-label-font-size: $form-control-label-font-size !default;
$textarea-label-font-weight: $form-control-label-font-weight !default;
$textarea-label-margin-bottom: $form-control-label-margin-bottom !default;
$textarea-padding: $form-control-padding !default;
$textarea-transition: all $animation-duration-normal ease-in-out !default;
$textarea-disabled-opacity: $form-control-disabled-opacity !default;

$textarea-focus-background-color: $form-control-focus-background-color !default;
$textarea-focus-border: $form-control-focus-border !default;
$textarea-focus-color: $form-control-focus-color !default;
$textarea-focus-label-color: $form-control-focus-label-color !default;

$textarea-hover-background-color: $form-control-hover-background-color !default;
$textarea-hover-border: $form-control-hover-border !default;
$textarea-hover-color: $form-control-hover-color !default;
$textarea-hover-label-color: $form-control-hover-label-color !default;

$textarea-error-background-color: $form-control-error-background-color !default;
$textarea-error-border: $form-control-error-border !default;
$textarea-error-color: $form-control-error-color !default;
$textarea-error-label-color: $form-control-error-label-color !default;
$textarea-error-text-color: $form-control-error-text-color !default;
$textarea-error-font-size: $form-control-error-font-size !default;
$textarea-error-spacing: $form-control-error-spacing !default;

.p-textarea {
  display: flex;
  flex-direction: column;
  width: 100%;

  & > .label {
    color: $textarea-label-color;
    display: block;
    font-size: $textarea-label-font-size;
    font-weight: $textarea-label-font-weight;
    margin-bottom: $textarea-label-margin-bottom;
    user-select: none;
    order: 1;
  }

  & > .input {
    align-content: stretch;
    background-color: $textarea-background-color;
    border: $textarea-border;
    border-radius: $textarea-border-radius;
    box-sizing: border-box;
    color: $textarea-color;
    display: flex;
    order: 2;
    overflow: hidden;
    transition: $textarea-transition;

    textarea {
      background-color: transparent;
      border: none;
      box-sizing: border-box;
      color: inherit;
      flex-grow: 1;
      font-size: $textarea-font-size;
      font-weight: $textarea-font-weight;
      margin: 0;
      min-width: 0;
      outline: none;
      padding: $textarea-padding;
      resize: none;
      transition: $textarea-transition;

      &::placeholder {
        color: inherit;
        opacity: 0.5;
      }

      &:-webkit-autofill::first-line,
      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        font-size: $textarea-font-size;
        font-weight: $textarea-font-weight;
        transition: background-color 999999s ease-in-out 999999s;
      }
    }

    &:hover:not(.disabled):not(.error):not(:focus-within) {
      border: $textarea-hover-border;
      background-color: $textarea-hover-background-color;
      color: $textarea-hover-color;

      & + .label {
        color: $textarea-hover-label-color;
      }
    }

    &:focus-within:not(.disabled):not(.error) {
      border: $textarea-focus-border;
      background-color: $textarea-focus-background-color;
      color: $textarea-focus-color;

      & + .label {
        color: $textarea-focus-label-color;
      }
    }

    &.disabled {
      opacity: $textarea-disabled-opacity;
    }

    &.error {
      border: $textarea-error-border;
      background-color: $textarea-error-background-color;
      color: $textarea-error-color;

      & + .label {
        color: $textarea-error-label-color;
      }
    }
  }

  & > .error-text {
    color: $textarea-error-text-color;
    display: block;
    font-size: $textarea-error-font-size;
    margin-top: $textarea-error-spacing;
    order: 3;
  }
}
