@use "../../styles/utilities.scss" as *;

$app-background-color: #f1f1f1 !default;
$app-border-top: 5px solid color("primary", "500") !default;

body {
  background-color: $app-background-color;
  border-top: $app-border-top;
  color: $text-color;
  overflow-y: scroll;
}

.p-app {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
}
