@use "../../styles/utilities.scss" as *;

$app-background-color: $background-color !default;

body {
  background-color: $app-background-color;
  overflow-y: scroll;
}

.p-app {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
}
