@use "sass:math";
@use "../../styles/utilities" as *;

$tab-view-color: color("grey", "700") !default;
$tab-view-font-size: $font-size-sm !default;
$tab-view-hovered-color: color("primary", "500") !default;
$tab-view-selected-color: color("primary", "500") !default;
$tab-view-underline-spacing: 0.5em !default;
$tab-view-content-spacing: 1.5em !default;
$tab-view-tab-spacing: 1em !default;
$tab-view-underline-thickness: 3px !default;
$tab-view-underline-animation-duration: $animation-duration-normal !default;
$tab-view-resize-animation-duration: $animation-duration-slow !default;
$tab-view-slide-animation-duration: $animation-duration-normal !default;
$tab-view-slide-animation-distance: 1rem !default;

.p-tab-view {
  & > .tabs {
    font-size: $tab-view-font-size;
    margin: 0 math.div($tab-view-tab-spacing, -2);
    user-select: none;

    & > .p-tab {
      color: $tab-view-color;
      cursor: pointer;
      display: inline-block;
      margin: 0 math.div($tab-view-tab-spacing, 2);
      outline: none;
      position: relative;

      & > .underline {
        height: 0;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -$tab-view-underline-spacing;
        transition: all $tab-view-underline-animation-duration ease;
      }

      &:hover,
      &:focus-within {
        color: $tab-view-hovered-color;
      }

      &.selected {
        color: $tab-view-selected-color;

        & > .underline {
          background-color: $tab-view-selected-color;
          height: $tab-view-underline-thickness;
        }
      }
    }
  }

  & > .view {
    transition: height $tab-view-resize-animation-duration ease-in-out;

    & > .content {
      display: none;
      padding-top: $tab-view-content-spacing;
      overflow: auto;

      &.selected {
        display: block;
      }
    }

    &.slide-left {
      & > .content.selected {
        animation: p-tab-view-slide-left $tab-view-slide-animation-duration ease,
          p-tab-view-enter $tab-view-slide-animation-duration ease;
      }
    }

    &.slide-right {
      & > .content.selected {
        animation: p-tab-view-slide-right $tab-view-slide-animation-duration
            ease,
          p-tab-view-enter $tab-view-slide-animation-duration ease;
      }
    }
  }
}

@keyframes p-tab-view-slide-right {
  from {
    transform: translateX(-$tab-view-slide-animation-distance);
  }
}

@keyframes p-tab-view-slide-left {
  from {
    transform: translateX($tab-view-slide-animation-distance);
  }
}

@keyframes p-tab-view-enter {
  from {
    opacity: 0.25;
  }
  to {
    opacity: 1;
  }
}
