@use "sass:color";
@use "sass:map";
@use "sass:math";

@function generate-color-shades($color, $contrast: 92%) {
  $shade: math.div(math.clamp(0%, $contrast, 100%), 4);

  @return (
    "100": color.scale($color, $lightness: $shade * 4),
    "200": color.scale($color, $lightness: $shade * 3),
    "300": color.scale($color, $lightness: $shade * 2),
    "400": color.scale($color, $lightness: $shade * 1),
    "500": $color,
    "600": color.scale($color, $lightness: $shade * -1),
    "700": color.scale($color, $lightness: $shade * -2),
    "800": color.scale($color, $lightness: $shade * -3),
    "900": color.scale($color, $lightness: $shade * -4)
  );
}

$color-primary: #25689b !default;
$color-success: #75993a !default;
$color-warning: #ebb236 !default;
$color-danger: #c0443b !default;
$color-grey: #cfcfcf !default;

$colors: (
  "primary": generate-color-shades($color-primary),
  "success": generate-color-shades($color-success),
  "warning": generate-color-shades($color-warning),
  "danger": generate-color-shades($color-danger),
  "grey": generate-color-shades($color-grey),
) !default;

@function color($name, $shade: 500) {
  @return map.get($colors, $name, $shade);
}

$background-color-white: color("grey", "100") !default;
$background-color-light: color("grey", "300") !default;
$background-color-dark: color("grey", "700") !default;
$background-color-black: color("grey", "900") !default;
$background-color-primary: color("primary", "500") !default;
$background-color-success: color("success", "500") !default;
$background-color-warning: color("warning", "500") !default;
$background-color-danger: color("danger", "500") !default;
$text-color: color("grey", "800") !default;
$text-color-white: color("grey", "100") !default;
$text-color-light: color("grey", "600") !default;
$text-color-dark: color("grey", "700") !default;
$text-color-black: color("grey", "900") !default;
$text-color-primary: color("primary", "500") !default;
$text-color-success: color("success", "500") !default;
$text-color-warning: color("warning", "500") !default;
$text-color-danger: color("danger", "500") !default;

.text-white {
  color: $text-color-white !important;
}

.text-light {
  color: $text-color-light !important;
}

.text-dark {
  color: $text-color-dark !important;
}

.text-black {
  color: $text-color-black !important;
}

.text-primary {
  color: $text-color-primary !important;
}

.text-success {
  color: $text-color-success !important;
}

.text-warning {
  color: $text-color-warning !important;
}

.text-danger {
  color: $text-color-danger !important;
}

.background-white {
  background-color: $background-color-white !important;
}

.background-light {
  background-color: $background-color-light !important;
}

.background-dark {
  background-color: $background-color-dark !important;
}

.background-black {
  background-color: $background-color-black !important;
}

.background-primary {
  background-color: $background-color-primary !important;
}

.background-success {
  background-color: $background-color-success !important;
}

.background-warning {
  background-color: $background-color-warning !important;
}

.background-danger {
  background-color: $background-color-danger !important;
}
