$layout-min-width: 300px !default;
$layout-breakpoint-xs: 480px !default;
$layout-breakpoint-sm: 640px !default;
$layout-breakpoint-md: 800px !default;
$layout-breakpoint-lg: 1024px !default;
$layout-spacing-xs: 0.25em !default;
$layout-spacing-sm: 0.5em !default;
$layout-spacing-md: 1em !default;
$layout-spacing-lg: 2em !default;
$layout-spacing-xl: 4em !default;

$layout-spacing: (
  "none": 0em,
  "xs": $layout-spacing-xs,
  "sm": $layout-spacing-sm,
  "md": $layout-spacing-md,
  "lg": $layout-spacing-lg,
  "xl": $layout-spacing-xl,
) !default;

@mixin screen($size) {
  @if $size == xs {
    @media only screen and (max-width: $layout-breakpoint-xs) {
      @content;
    }
  } @else if $size == sm {
    @media only screen and (max-width: $layout-breakpoint-sm) {
      @content;
    }
  } @else if $size == md {
    @media only screen and (max-width: $layout-breakpoint-md) {
      @content;
    }
  } @else if $size == lg {
    @media only screen and (max-width: $layout-breakpoint-lg) {
      @content;
    }
  } @else if $size == all or $size == xl {
    @content;
  }
}

.flex {
  display: flex !important;

  & > * {
    flex-grow: 1;
  }
}

.align-start {
  align-items: flex-start !important;
}

.align-center {
  align-items: center !important;
}

.align-end {
  align-items: flex-end !important;
}

.align-stretch {
  align-items: stretch !important;
}

.justify-start {
  justify-content: flex-start !important;
}

.justify-center {
  justify-content: center !important;
}

.justify-end {
  justify-content: flex-end !important;
}

.justify-stretch {
  justify-content: stretch !important;
}

@each $size, $value in $layout-spacing {
  .padding-#{$size} {
    padding: $value !important;
  }

  .margin-#{$size} {
    margin: $value !important;
  }

  .padding-vertical-#{$size} {
    padding: $value 0 !important;
  }

  .margin-vertical-#{$size} {
    margin: $value 0 !important;
  }

  .padding-horizontal-#{$size} {
    padding: 0 $value !important;
  }

  .margin-horizontal-#{$size} {
    margin: 0 $value !important;
  }

  @each $side in ("top", "bottom", "left", "right") {
    .padding-#{$side}-#{$size} {
      padding-#{$side}: $value !important;
    }

    .margin-#{$side}-#{$size} {
      margin-#{$side}: $value !important;
    }
  }
}
