@use "sass:map";

$layout-min-width: 300px !default;
$layout-max-width: 1200px !default;

$layouts: (
  "xs": (
    "max": 480px,
  ),
  "sm": (
    "max": 640px,
  ),
  "md": (
    "max": 800px,
  ),
  "lg": (
    "max": 1024px,
  ),
  "xl": (
    "min": 1024px,
  ),
  "all": (),
);

$layout-spacing: (
  "none": 0em,
  "xs": 0.25rem,
  "sm": 0.5rem,
  "md": 1rem,
  "lg": 2rem,
  "xl": 4rem,
) !default;

@function spacing($size) {
  @return map.get($layout-spacing, $size);
}

@mixin layout($size) {
  $max-size: map.get($layouts, $size, "max");
  $min-size: map.get($layouts, $size, "min");

  @if ($max-size != null and $min-size != null) {
    @media only screen and (min-width: $min-size) and (max-width: ($max-size - 1px)) {
      @content;
    }
  }

  @if ($max-size != null and $min-size == null) {
    @media only screen and (max-width: ($max-size - 1px)) {
      @content;
    }
  }

  @if ($max-size == null and $min-size != null) {
    @media only screen and (min-width: $min-size) {
      @content;
    }
  }

  @if ($max-size == null and $min-size == null) {
    @content;
  }
}

.flex {
  display: flex !important;

  & > * {
    flex-grow: 1;
  }
}

.align-start {
  align-items: flex-start !important;
}

.align-center {
  align-items: center !important;
}

.align-end {
  align-items: flex-end !important;
}

.align-stretch {
  align-items: stretch !important;
}

.justify-start {
  justify-content: flex-start !important;
}

.justify-center {
  justify-content: center !important;
}

.justify-end {
  justify-content: flex-end !important;
}

.justify-stretch {
  justify-content: stretch !important;
}

@each $size, $value in $layout-spacing {
  .padding-#{$size} {
    padding: $value !important;
  }

  .margin-#{$size} {
    margin: $value !important;
  }

  .padding-vertical-#{$size} {
    padding: $value 0 !important;
  }

  .margin-vertical-#{$size} {
    margin: $value 0 !important;
  }

  .padding-horizontal-#{$size} {
    padding: 0 $value !important;
  }

  .margin-horizontal-#{$size} {
    margin: 0 $value !important;
  }

  @each $side in ("top", "bottom", "left", "right") {
    .padding-#{$side}-#{$size} {
      padding-#{$side}: $value !important;
    }

    .margin-#{$side}-#{$size} {
      margin-#{$side}: $value !important;
    }
  }
}
