* {
  background-color: unset;
  border: 0;
  color: unset;
  font: inherit;
  font-size: 100%;
  line-height: 1;
  margin: 0;
  padding: 0;
  text-decoration: unset;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
