@use "sass:math";
@use "color" as *;
@use "animation" as *;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

@function scale-font($scale) {
  @return $font-size * math.pow($font-scale, $scale);
}

$font: "Roboto", sans-serif !default;
$font-scale: 1.2 !default;
$font-size: 1.1rem !default;
$font-size-xs: scale-font(-1) !default;
$font-size-sm: scale-font(0) !default;
$font-size-md: scale-font(2) !default;
$font-size-lg: scale-font(4) !default;
$font-size-xl: scale-font(6) !default;
$font-weight: 400 !default;
$font-weight-thin: 100 !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-bold: 700 !default;
$font-weight-black: 900 !default;
$font-header-color: color("primary", "500") !default;

body {
  font-family: $font;
  font-size: $font-size;
}

a {
  color: color("primary", "500");
  cursor: pointer;
  transition: color $animation-duration-normal ease;

  &:hover,
  &:focus {
    color: color("primary", "700");
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $font-header-color;
  font-weight: 900;
  letter-spacing: -0.02em;
  line-height: 1.1;
  margin: 1em 0 0.3em;

  &:first-of-type {
    margin-top: 0;
  }
}

h1 {
  font-size: scale-font(3);
  font-weight: 500;
}

h2 {
  font-size: scale-font(2);
  font-weight: 500;
}

h3 {
  font-size: scale-font(1);
  font-weight: 500;
}

h4 {
  font-size: scale-font(1);
  font-weight: 500;
}

h5 {
  font-size: scale-font(1);
  font-weight: 500;
}

h6 {
  font-size: scale-font(1);
  font-weight: 500;
}

b {
  font-weight: $font-weight-medium;
}

i {
  font-style: italic;
}

u {
  text-decoration: underline;
}

p,
span,
li {
  letter-spacing: 0.005em;
  line-height: 1.4;
  word-spacing: 0.025rem;
}

p,
ul,
ol {
  margin-bottom: 1.5em;
}

ul,
ol {
  margin-left: 1.75em;

  li {
    margin-bottom: 0.5em;
  }

  ul,
  ol {
    margin-bottom: 0;
    margin-top: 0.5em;

    li {
      font-size: scale-font(-1);
    }
  }
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

.font-thin {
  font-weight: $font-weight-thin !important;
}

.font-light {
  font-weight: $font-weight-light !important;
}

.font-normal {
  font-weight: $font-weight-normal !important;
}

.font-medium {
  font-weight: $font-weight-medium !important;
}

.font-bold {
  font-weight: $font-weight-bold !important;
}

.font-black {
  font-weight: $font-weight-black !important;
}

.font-xs {
  font-size: $font-size-xs !important;
}

.font-sm {
  font-size: $font-size-sm !important;
}

.font-md {
  font-size: $font-size-md !important;
}

.font-lg {
  font-size: $font-size-lg !important;
}

.font-xl {
  font-size: $font-size-xl !important;
}

.font-italic {
  font-style: italic !important;
}

.text-underline {
  text-decoration: underline !important;
}

.text-strikethrough {
  text-decoration: line-through !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
  text-decoration: wavy !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-justify {
  text-align: justify !important;
}

.text-truncate {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}
