@use "../../styles/utilities.scss" as *;

$dialog-padding: spacing("lg") !default;
$dialog-padding-mobile: spacing("md") !default;
$dialog-width-xs: 260px !default;
$dialog-width-sm: 320px !default;
$dialog-width-md: 460px !default;
$dialog-width-lg: 640px !default;
$dialog-width-xl: 800px !default;

.p-dialog {
  & > .wrapper {
    padding: $dialog-padding;

    @include layout("xs") {
      padding: $dialog-padding-mobile;
    }
  }

  &.xs > .wrapper {
    width: $dialog-width-xs;
  }

  &.sm > .wrapper {
    width: $dialog-width-sm;
  }

  &.md > .wrapper {
    width: $dialog-width-md;
  }

  &.lg > .wrapper {
    width: $dialog-width-lg;
  }

  &.xl > .wrapper {
    width: $dialog-width-xl;
  }
}
