@use "../../styles/utilities.scss" as *;

$card-background-color: color("grey", "100") !default;
$card-border-radius: $surface-border-radius !default;
$card-box-shadow: $surface-box-shadow-sm !default;
$card-padding: spacing("md") !default;
$card-title-color: color("primary", "500") !default;
$card-title-font-size: $font-size-md !default;
$card-subtitle-color: color("grey", "600") !default;
$card-subtitle-font-size: $font-size-sm !default;
$card-body-color: color("grey", "800") !default;
$card-body-font-size: $font-size-sm !default;

$card-hover-animation-duration: $animation-duration-normal !default;
$card-hover-box-shadow: $surface-box-shadow-lg !default;
$card-hover-transform: translateY(-2px) !default;

.p-card {
  & > .image {
    & > img {
      display: block;
      width: 100%;
    }
  }

  & > .content {
    padding: $card-padding;

    & > span {
      display: block;
    }

    & > .title {
      color: $card-title-color;
      font-size: $card-title-font-size;
    }

    & > .subtitle {
      color: $card-subtitle-color;
      font-size: $card-subtitle-font-size;
    }

    & > .body {
      color: $card-body-color;
      font-size: $card-body-font-size;

      &:not(:only-child) {
        margin-top: spacing("md");
      }
    }
  }

  &.clickable {
    cursor: pointer;
    transition-property: transform, box-shadow;
    transition-duration: $card-hover-animation-duration;
    transition-timing-function: ease-in-out;

    &:hover,
    &:focus-within {
      box-shadow: $card-hover-box-shadow;
      outline: none;
      transform: $card-hover-transform;
    }
  }
}
