@use "../../styles/utilities.scss" as *;

$card-padding: spacing("md") !default;

$card-title-color: color("primary", "500") !default;
$card-title-font-size: $font-size-md !default;
$card-title-font-weight: $font-weight-medium !default;

$card-subtitle-color: color("grey", "600") !default;
$card-subtitle-font-size: $font-size-sm !default;
$card-subtitle-font-weight: $font-weight-normal !default;

$card-body-color: color("grey", "800") !default;
$card-body-font-size: $font-size-sm !default;

.p-card {
  & > .image {
    & > img {
      display: block;
      width: 100%;
    }
  }

  & > .content {
    padding: $card-padding;

    &:empty {
      display: none;
    }

    & > .title,
    & > .subtitle,
    & > .body {
      display: block;
    }

    & > .title {
      color: $card-title-color;
      font-size: $card-title-font-size;
      font-weight: $card-title-font-weight;
    }

    & > .subtitle {
      color: $card-subtitle-color;
      font-size: $card-subtitle-font-size;
      font-weight: $card-subtitle-font-weight;
    }

    & > .body {
      color: $card-body-color;
      font-size: $card-body-font-size;

      &:not(:only-child) {
        margin-top: 0.5rem;
      }
    }
  }
}
