@use "../../styles/utilities.scss" as *;
@use "sass:math";

$image-gallery-spacing: spacing("sm") !default;

.p-image-gallery {
  font-size: 0;
  margin: math.div($image-gallery-spacing, -2);

  & > * {
    display: inline-block;
    margin: math.div($image-gallery-spacing, 2);

    .image {
      object-fit: cover;
    }
  }
}
