@use "../../styles/utilities.scss" as *;

$progress-bar-animation-duration: $animation-duration-slow !default;
$progress-bar-background-color: color("grey", "300") !default;
$progress-bar-border-radius: 10000px !default;
$progress-bar-color: color("primary", "500") !default;
$progress-bar-label-color: color("grey", "100") !default;
$progress-bar-label-font-size: 0.75rem !default;
$progress-bar-size-sm: 0.5rem !default;
$progress-bar-size-md: 1.5rem !default;
$progress-bar-size-lg: 2rem !default;

.p-progress-bar {
  background-color: $progress-bar-background-color;
  border-radius: $progress-bar-border-radius;
  overflow: hidden;

  & > .bar {
    align-items: center;
    background-color: $progress-bar-color;
    display: flex;
    justify-content: flex-end;
    height: inherit;
    transition: width $animation-duration-slow ease;

    & > .label {
      color: $progress-bar-label-color;
      font-size: $progress-bar-label-font-size;
      padding-right: 0.5rem;
    }
  }

  &.sm {
    height: $progress-bar-size-sm;

    & > .bar > .label {
      display: none;
    }
  }

  &,
  &.md {
    height: $progress-bar-size-md;
  }

  &.lg {
    height: $progress-bar-size-lg;
  }
}
