@use "../../styles/utilities.scss" as *;

.p-image {
  overflow: hidden;

  & > .wrapper {
    & > img {
      object-fit: contain;
      width: 100%;
    }
  }

  &.zoomable {
    & > .wrapper {
      cursor: pointer;
    }
  }

  & > .zoom {
    & > img {
      max-width: 70vw;
      max-height: 70vh;
    }

    & > .spinner {
      background-color: rgba(color("grey", "900"), 0.3);
      color: color("grey", "100");
    }
  }
}
