@use "sass:math";
@use "sass:map";
@use "../../styles/utilities" as *;

$grid-columns: 12 !default;
$grid-spacing-xs: spacing("xs") !default;
$grid-spacing-sm: spacing("sm") !default;
$grid-spacing-md: spacing("md") !default;
$grid-spacing-lg: spacing("lg") !default;
$grid-spacing-xl: spacing("xl") !default;

.p-grid {
  .wrapper {
    display: flex;
    flex-wrap: wrap;

    .p-grid-item:empty {
      display: none;
    }
  }

  @each $layout in map.keys($layouts) {
    @include layout($layout) {
      @for $width from 1 through $grid-columns {
        &.widths-#{$width}-#{$layout} > .wrapper > .p-grid-item,
        & > .wrapper > div.p-grid-item.width-#{$width}-#{$layout} {
          flex-basis: math.percentage(math.div($width, $grid-columns));
          max-width: math.percentage(math.div($width, $grid-columns));
        }
      }

      &.widths-grow-#{$layout} > .wrapper > .p-grid-item,
      & > .wrapper > .p-grid-item.width-grow-#{$layout} {
        flex: 1 1 0;
      }

      &.widths-shrink-#{$layout} > .wrapper > .p-grid-item,
      & > .wrapper > .p-grid-item.width-shrink-#{$layout} {
        flex: 0 1 0;
        white-space: nowrap;
      }

      &.hidden-#{$layout} {
        display: none;
      }

      &.spacing-none-#{$layout} > .wrapper {
        margin: 0;

        & > .p-grid-item {
          padding: 0;
        }
      }

      &.spacing-xl-#{$layout} > .wrapper {
        margin: calc(#{$grid-spacing-xl} / -2);

        & > .p-grid-item {
          padding: calc(#{$grid-spacing-xl} / 2);
        }
      }

      & > .wrapper,
      &.spacing-lg-#{$layout} > .wrapper {
        margin: calc(#{$grid-spacing-lg} / -2);

        & > .p-grid-item {
          padding: calc(#{$grid-spacing-lg} / 2);
        }
      }

      &.spacing-md-#{$layout} > .wrapper {
        margin: calc(#{$grid-spacing-md} / -2);

        & > .p-grid-item {
          padding: calc(#{$grid-spacing-md} / 2);
        }
      }

      &.spacing-sm-#{$layout} > .wrapper {
        margin: calc(#{$grid-spacing-sm} / -2);

        & > .p-grid-item {
          padding: calc(#{$grid-spacing-sm} / 2);
        }
      }

      &.spacing-xs-#{$layout} > .wrapper {
        margin: calc(#{$grid-spacing-xs} / -2);

        & > .p-grid-item {
          padding: calc(#{$grid-spacing-xs} / 2);
        }
      }
    }
  }
}
