@use "../../styles/utilities.scss" as *;

$panel-width-xs: 95% !default;
$panel-width-sm: 92% !default;
$panel-width-md: 88% !default;
$panel-width-lg: 80% !default;
$panel-width-xl: 80% !default;
$panel-max-width: $layout-max-width !default;
$panel-min-width: $layout-min-width !default;

.p-panel {
  width: 100%;

  & > .content {
    margin: 0 auto;
    max-width: $panel-max-width;
    min-width: $panel-min-width;

    @include layout("xl") {
      width: $panel-width-xl;
    }

    @include layout("lg") {
      width: $panel-width-lg;
    }

    @include layout("md") {
      width: $panel-width-md;
    }

    @include layout("sm") {
      width: $panel-width-sm;
    }

    @include layout("xs") {
      width: $panel-width-xs;
    }
  }
}
