@use "../../styles/utilities.scss" as *;

$button-background-color: color("primary", "500") !default;
$button-border-radius: $surface-border-radius !default;
$button-color: color("grey", "100") !default;
$button-horizontal-padding: spacing("md") !default;
$button-height: $form-control-height !default;
$button-hover-animation-duration: $animation-duration-normal !default;
$button-hover-background-color: color("primary", "600") !default;
$button-hover-color: color("grey", "100") !default;

$button-success-background-color: color("success", "500") !default;
$button-success-color: color("grey", "100") !default;
$button-success-hover-background-color: color("success", "600") !default;
$button-success-hover-color: color("grey", "100") !default;

$button-warning-background-color: color("warning", "500") !default;
$button-warning-color: color("grey", "100") !default;
$button-warning-hover-background-color: color("warning", "600") !default;
$button-warning-hover-color: color("grey", "100") !default;

$button-danger-background-color: color("danger", "500") !default;
$button-danger-color: color("grey", "100") !default;
$button-danger-hover-background-color: color("danger", "600") !default;
$button-danger-hover-color: color("grey", "100") !default;

$button-grey-background-color: color("grey", "400") !default;
$button-grey-color: color("grey", "800") !default;
$button-grey-hover-background-color: color("grey", "500") !default;
$button-grey-hover-color: color("grey", "900") !default;

.p-button {
  align-items: center;
  background-color: $button-background-color;
  border-radius: $button-border-radius;
  color: $button-color;
  cursor: pointer;
  display: flex;
  height: $button-height;
  justify-content: center;
  outline: none;
  padding: 0 $button-horizontal-padding;
  position: relative;
  transition-property: background-color, color, opacity;
  transition-duration: $button-hover-animation-duration;
  transition-timing-function: ease-in-out;
  user-select: none;
  white-space: nowrap;

  & > .spinner {
    position: absolute;
  }

  &:hover:not(:disabled),
  &:focus-within {
    background-color: $button-hover-background-color;
    color: $button-hover-color;
  }

  &.loading {
    .label {
      visibility: hidden;
    }
  }

  &:disabled {
    opacity: 0.5;
  }

  &.fill {
    width: 100%;
  }

  &.success {
    background-color: $button-success-background-color;
    color: $button-success-color;

    &:hover:not(:disabled),
    &:focus-within {
      background-color: $button-success-hover-background-color;
      color: $button-success-hover-color;
    }
  }

  &.warning {
    background-color: $button-warning-background-color;
    color: $button-warning-color;

    &:hover:not(:disabled),
    &:focus-within {
      background-color: $button-warning-hover-background-color;
      color: $button-warning-hover-color;
    }
  }

  &.danger {
    background-color: $button-danger-background-color;
    color: $button-danger-color;

    &:hover:not(:disabled),
    &:focus-within {
      background-color: $button-danger-hover-background-color;
      color: $button-danger-hover-color;
    }
  }

  &.grey {
    background-color: $button-grey-background-color;
    color: $button-grey-color;

    &:hover:not(:disabled),
    &:focus-within {
      background-color: $button-grey-hover-background-color;
      color: $button-grey-hover-color;
    }
  }
}
