@use "../../styles/utilities.scss" as *;

$popup-margin: spacing("sm") !default;
$popup-enter-animation-duration: $animation-duration-normal !default;
$popup-exit-animation-duration: $animation-duration-fast !default;
$popup-z-index: 10000 !default;
$popup-shade-background-color: rgba(0, 0, 0, 0.15) !default;
$popup-shade-filters: blur(1px) saturate(50%) !default;
$popup-immersive-shade-background-color: rgba(0, 0, 0, 0.6) !default;
$popup-immersive-shade-filters: blur(2px) saturate(50%) !default;
$popup-close-button-color: color("grey", "100") !default;
$popup-close-button-size: 3rem !default;
$popup-close-button-hit-target: 4rem !default;

.p-popup {
  max-height: 75vh;
  max-width: 75vw;
  position: fixed;
  opacity: 1;
  transition-property: margin, opacity, transform;
  transition-timing-function: ease-in-out;
  z-index: $popup-z-index;

  &.up {
    margin-top: -$popup-margin;
  }

  &.down {
    margin-top: $popup-margin;
  }

  &.left {
    margin-left: -$popup-margin;
  }

  &.right {
    margin-left: $popup-margin;
  }

  &.center {
    transform: scale(1);
  }

  &.popup-enter-active {
    transition-duration: $popup-enter-animation-duration;
  }

  &.popup-leave-active {
    transition-duration: $popup-exit-animation-duration;
  }

  &.popup-enter-from,
  &.popup-leave-to {
    opacity: 0;
    margin: 0;

    &.center {
      transform: scale(0.95);
    }
  }
}

.p-popup-shade {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $popup-shade-background-color;
  backdrop-filter: $popup-shade-filters;
  transition-property: background-color;
  transition-timing-function: ease-in-out;
  z-index: $popup-z-index - 1;

  &.shade-enter-active {
    transition-duration: $popup-enter-animation-duration;
  }

  &.shade-leave-active {
    transition-duration: $popup-exit-animation-duration;
  }

  &.shade-enter-from,
  &.shade-leave-to {
    backdrop-filter: none;
    background-color: transparent;
  }

  &.immersive {
    background-color: $popup-immersive-shade-background-color;
    backdrop-filter: $popup-immersive-shade-filters;
  }

  & > .close-button {
    align-items: center;
    color: $popup-close-button-color;
    cursor: pointer;
    display: flex;
    font-size: $popup-close-button-size;
    justify-content: center;
    position: fixed;
    height: $popup-close-button-hit-target;
    width: $popup-close-button-hit-target;
    top: 0;
    right: 0;
    transition: transform $animation-duration-normal ease;
    line-height: 0;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.p-popup-anchor {
  animation: p-popup-anchor-close 0ms ease $popup-exit-animation-duration
    forwards;
  position: relative;
  z-index: $popup-z-index;

  &.open {
    animation: p-popup-anchor-open 0ms ease $popup-exit-animation-duration
      forwards;
  }
}

@keyframes p-popup-anchor-close {
  from {
    z-index: $popup-z-index;
  }
  to {
    z-index: 1;
  }
}

@keyframes p-popup-anchor-open {
  from {
    z-index: 1;
  }
  to {
    z-index: $popup-z-index;
  }
}
