@use "../../styles/utilities" as *;

$footer-background-color: $color-grey-300 !default;
$footer-bottom-border: 10px solid $color-primary-500 !default;
$footer-padding: $layout-spacing-xl !default;
$footer-spacing: $layout-spacing-xl !default;

.p-footer {
  margin-top: auto;
  width: 100%;

  .p-panel {
    background-color: $footer-background-color;
    border-bottom: $footer-bottom-border;
    margin-top: $footer-spacing;
    padding: $footer-padding 0;

    & .links {
      text-align: left;

      @include screen(md) {
        order: 1;
      }

      @include screen(sm) {
        order: 2;
        text-align: center;
      }
    }

    .brand {
      text-align: center;

      @include screen(md) {
        order: 3;
      }

      @include screen(sm) {
        order: 3;
      }
    }

    .contact {
      text-align: right;

      @include screen(md) {
        order: 2;
      }

      @include screen(sm) {
        order: 1;
        text-align: center;
      }
    }
  }
}
