@use "../../styles/utilities" as *;

$footer-background-color: color("grey", "300") !default;
$footer-padding: spacing("xl") !default;
$footer-spacing: spacing("xl") !default;

.p-footer {
  margin-top: auto;
  width: 100%;

  .p-panel {
    background-color: $footer-background-color;
    margin-top: $footer-spacing;
    padding: $footer-padding 0;
  }
}
