@use "sass:math";
@use "sass:map";
@use "../../styles/utilities" as *;

$navbar-background-color: transparent !default;
$navbar-padding: spacing("md") 0 !default;
$navbar-bottom-margin: spacing("md") !default;
$navbar-logo-color: color("primary", "500") !default;
$navbar-item-active-color: color("primary", "500") !default;
$navbar-item-color: color("grey", "700") !default;
$navbar-item-font-size: $font-size-sm !default;
$navbar-item-font-weight: $font-weight-normal !default;
$navbar-item-spacing: spacing("md") !default;
$navbar-item-spacing-mobile: spacing("lg") !default;
$navbar-item-transition: color 200ms ease-in-out !default;

.p-navbar {
  background-color: $navbar-background-color;
  margin-bottom: $navbar-bottom-margin;
  padding: $navbar-padding;

  nav {
    align-items: center;
    display: flex;
    margin: 0 calc($navbar-item-spacing * -1);

    & > .logo,
    & > .start,
    & > .end,
    & > .mobile {
      display: flex;
      align-items: center;
    }

    & > .end,
    & > .mobile {
      margin-left: auto;
    }

    & > .mobile {
      display: none;

      .p-navbar-dropdown .p-navbar-item {
        margin: calc($navbar-item-spacing-mobile / 2);
      }
    }
  }

  @each $size in map.keys($layouts) {
    @include layout($size) {
      &.mobile-#{$size} nav > .start,
      &.mobile-#{$size} nav > .end {
        display: none;
      }

      &.mobile-#{$size} nav > .mobile {
        display: flex;
        margin-left: auto;
      }
    }
  }
}

.p-navbar-item {
  color: $navbar-item-color;
  cursor: pointer;
  display: block;
  font-size: $navbar-item-font-size;
  font-weight: $navbar-item-font-weight;
  margin: 0 $navbar-item-spacing;
  transition: $navbar-item-transition;
  user-select: none;
  white-space: nowrap;

  &:hover,
  &:focus {
    color: $navbar-item-active-color;
  }
}

.p-navbar-dropdown {
  padding: calc($navbar-item-spacing / 2);

  .p-navbar-item {
    margin: calc($navbar-item-spacing / 2);
  }
}
